
.panel {
    margin: 25px 40px 25px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: chocolate;
    border-radius: 10px;
    width: 60%;
    height: 80%;
    color: #f4f4f4;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
}
